body {
  font-size: 16px;
  padding-top: 25px;
  color: #ccc;
  background-color: #212121;
}
.navbar-default .navbar-brand {
  /*color: #00b940;*/
  color: #00ff00;
}
.navbar-default .navbar-nav li a {
  color: #ccc;
}
.navbar-brand,
.navbar-nav li a {
  height:75px;
  line-height: 75px;
  padding-top: 0;
  padding-bottom: 0;
}
.text-brand {
  font-size: 25px;
}
.btn-primary {
  color: #000;
  background-color: #00ff00;
  border-color: #000;
  text-shadow: 0px 0px 5px #333;
}
.btn-primary:hover {
  color: #616161;
  background-color: #00cc00;
  border-color: #616161;
}
.form-control:focus {
  border-color:#00ff00;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,255,0,0.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,255,0,0.6)
}
